body,html {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}

button {
  color: #E9E9F3;
  cursor: pointer;
  border-color: #353567;
  font-size: 16px;
  height: 40px;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 0.4em;
}

h2 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 1.5em;
}

img {
  height: 25px;
  width: 25px;
}

input {
  border: solid #5356A4 1.5px;
  box-sizing: border-box;
  height: 2.5em;
  width: 100%;
}

.add-comment {
  margin: 0px;
}

.card-body {
  border: solid #1F1E3D 1px;
  height: 180px;
  padding: 0px 18px 0px 18px;
  width: 207px;
}

.card-body-text {
  font-size: 18px;
}

.card-footer {
  align-items: center;
  background-color: #5356A4;
  border: solid #1F1E3D 1px;
  color: #FFFFFF;
  display: flex;
  font-weight: bold;
  height: 36px;
  justify-content: flex-start;
  padding: 2px;
}

.card-header {
  align-items: center;
  background-color: #1F1E3D;
  color: #1F1F3D;
  display: flex;
  height: 36px;
  justify-content: space-between;
  padding: 4px;
}

.comment-logo {
  height: 30px;
  width: 30px;
}

.container-search {
  display: flex;
  width: 100%;
}

.container-user-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  width: 50%;
}

.hidden {
  display: none;
}

.icon-delete:hover {
  content: url('./assets/delete-active.svg');
  cursor: pointer;
}

.icon-star:hover {
  cursor: pointer;
}

.idea-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: space-between;
  margin: 20px 5px 0px 15px;
  width: 245px;
}

.main-page {
  width: 75%;
}

.menu-bar {
  background-color: #1F1F3D;
  border-right: solid #EAEAF4 2px;
  color: #FFFFFF;
  height: 100%;
  min-width: 190px;
  padding: 0.5em;
  width: 24%;
}

.menu-filter-border {
  border-bottom: solid #353567 2px;
  border-top: solid #353567 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 18px;
  padding-bottom: 28px;
}

.show-search-ideas .idea-card:not(.search-includes) {
  display: none;
}

.show-starred-ideas .idea-card:not(.starred) {
  display: none;
}

.starred .icon-star {
  content: url('./assets/star-active.svg')
}

.user-form {
  background-color: #A9AAD2;
  width: 100%;
}

.user-ideas {
  align-content: flex-start;
  background-color: #EAEAF4;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#button-save {
  background-color: #353567;
  border-color: #5C5FA8;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
}

#button-save:disabled {
  background-color: #D1C4E9;
  border: solid #B39DDB 1px;
  cursor: default;
}

#button-starred, #button-all {
  background-color: #5356A4;
  border: none;
  margin: .4em;
}

#input-body {
  border: solid #5356A4 1.5px;
  box-sizing: border-box;
  font-family: inherit;
  height: 5.5em;
  width: 100%;
}

#logo-search {
  background-color: #353567;
  border-color: #5C5FA8;
  color: #FFFFFF;
  height: 1.1em;
  padding: 0.5em;
  width: 1.1em;
}

#menu-bar-filter {
  color: #BFBFDD;
  margin-left: 0.4em;
  margin-bottom: 18px;
}
