body,html {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}

button {
  color: #E9E9F3;
  cursor: pointer;
  border-color: #353567;
  font-size: 16px;
  height: 40px;
}

button:disabled {
  background-color: #D1C4E9 !important;
  border: solid #B39DDB 1px !important;
  cursor: default !important;
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 0.4em;
}

h2 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 1.5em;
}

img {
  height: 25px;
  width: 25px;
}

input {
  border: solid #5356A4 1.5px;
  height: 2.5em;
  width: 98%;
}

.card-body {
  border: solid #1F1E3D 1px;
  height: 180px;
  padding: 0px 18px 0px 18px;
  width: 207px;
}

.card-footer {
  align-items: center;
  background-color: #5356A4;
  border: solid #1F1E3D 1px;
  color: #FFFFFF;
  display: flex;
  font-weight: bold;
  height: 36px;
  justify-content: flex-start;
  padding: 2px;
}

.card-header {
  align-items: center;
  background-color: #1F1E3D;
  color: #1F1F3D;
  display: flex;
  height: 36px;
  justify-content: space-between;
  padding: 4px;
}

.container-search {
  display: flex;
  /* max-width: 50%;
  min-width: 332px; */
  width: 100%;
}

.container-user-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5em;
  width: 50%;
}

.idea-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: space-between;
  margin: 20px;
  width: 245px;
}

.main-page {
  width: 75%;
}

.menu-bar {
  background-color: #1F1F3D;
  border-right: solid #EAEAF4 2px;
  color: #FFFFFF;
  width: 24%;
  min-width: 190px;
  height: 100%;
  padding: 0.5em;
}

.menu-filter-border {
  border-bottom: solid #353567 2px;
  border-top: solid #353567 2px;
  margin-bottom: 25px;
  margin-top: 18px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.user-form {
  background-color: #A9AAD2;
  width: 100%;
}

.user-ideas {
  background-color: #EAEAF4;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-comment {
  margin: 0px;
}

#button-save {
  background-color: #353567;
  border-color: #5C5FA8;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /* max-width: 50%;
  min-width: 340px; */
  width: 100%;
}

#button-search {
  background-color: #353567;
  border-color: #5C5FA8;
  color: #FFFFFF;
  width: 1.5em;
  height: 1.4em;
  padding: 0.5em;
}

#button-starred {
  background-color: #5356A4;
  border: none;
  margin: .4em;
}

#card-body-text {
  font-size: 18px;
}

#comment-logo {
  height: 30px;
  width: 30px;
}

#input-body {
  border: solid #5356A4 1.5px;
  font-family: inherit;
  height: 5.5em;
  width: 100%;
}

#input-search {
  /* width: 100%; */
}

#menu-bar-filter {
  margin-left: 0.4em;
  margin-bottom: 18px;
  color: #BFBFDD;
}
